<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>damage_effect/effect_hurt</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{64,63}</string>
    <key>spriteSourceSize</key>
    <string>{68,64}</string>
    <key>textureRect</key>
    <string>{{86,94},{64,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>damage_effect/health1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,80}</string>
    <key>spriteSourceSize</key>
    <string>{84,80}</string>
    <key>textureRect</key>
    <string>{{0,94},{84,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>damage_effect/health2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{116,92}</string>
    <key>spriteSourceSize</key>
    <string>{116,92}</string>
    <key>textureRect</key>
    <string>{{0,0},{116,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>damage_effect/health3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,84}</string>
    <key>spriteSourceSize</key>
    <string>{64,84}</string>
    <key>textureRect</key>
    <string>{{118,0},{64,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{184,176}</string>
   <key>textureFileName</key>
   <string>damage_effect.png</string>
  </dict>
 </dict>
</plist>
