<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>effect1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{228,126},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>effect2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{74,71}</string>
    <key>spriteSourceSize</key>
    <string>{76,72}</string>
    <key>textureRect</key>
    <string>{{100,194},{74,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>effect3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{98,92}</string>
    <key>spriteSourceSize</key>
    <string>{100,92}</string>
    <key>textureRect</key>
    <string>{{0,126},{98,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>effect4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,108}</string>
    <key>spriteSourceSize</key>
    <string>{108,108}</string>
    <key>textureRect</key>
    <string>{{126,0},{108,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>effect5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,124}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>effect6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{126,66}</string>
    <key>spriteSourceSize</key>
    <string>{128,68}</string>
    <key>textureRect</key>
    <string>{{100,126},{126,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exclamation_mark1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{14,50}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{236,52},{14,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exclamation_mark2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{14,50}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{236,0},{14,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_up1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,26}</string>
    <key>spriteSourceSize</key>
    <string>{108,28}</string>
    <key>textureRect</key>
    <string>{{176,224},{106,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_up2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{106,28}</string>
    <key>spriteSourceSize</key>
    <string>{108,28}</string>
    <key>textureRect</key>
    <string>{{176,194},{106,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>question_mark1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{0,220},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>question_mark2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{34,220},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{284,267}</string>
   <key>textureFileName</key>
   <string>effect.png</string>
  </dict>
 </dict>
</plist>
