<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
    <key>item_icon/Average HP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{-1,0}</string>
     <key>spriteSize</key>
     <string>{34,55}</string>
     <key>spriteSourceSize</key>
     <string>{36,56}</string>
     <key>textureRect</key>
     <string>{{444,232},{34,55}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Average MP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{-1,0}</string>
     <key>spriteSize</key>
     <string>{34,55}</string>
     <key>spriteSourceSize</key>
     <string>{36,56}</string>
     <key>textureRect</key>
     <string>{{444,289},{34,55}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Large HP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,-1}</string>
     <key>spriteSize</key>
     <string>{40,53}</string>
     <key>spriteSourceSize</key>
     <string>{40,56}</string>
     <key>textureRect</key>
     <string>{{444,122},{40,53}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Large MP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,-1}</string>
     <key>spriteSize</key>
     <string>{40,53}</string>
     <key>spriteSourceSize</key>
     <string>{40,56}</string>
     <key>textureRect</key>
     <string>{{444,177},{40,53}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Max HP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,0}</string>
     <key>spriteSize</key>
     <string>{56,59}</string>
     <key>spriteSourceSize</key>
     <string>{56,60}</string>
     <key>textureRect</key>
     <string>{{444,61},{56,59}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Max MP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,0}</string>
     <key>spriteSize</key>
     <string>{56,59}</string>
     <key>spriteSourceSize</key>
     <string>{56,60}</string>
     <key>textureRect</key>
     <string>{{444,0},{56,59}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Mini HP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,0}</string>
     <key>spriteSize</key>
     <string>{24,32}</string>
     <key>spriteSourceSize</key>
     <string>{24,32}</string>
     <key>textureRect</key>
     <string>{{474,346},{24,32}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Mini MP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,0}</string>
     <key>spriteSize</key>
     <string>{24,32}</string>
     <key>spriteSourceSize</key>
     <string>{24,32}</string>
     <key>textureRect</key>
     <string>{{474,380},{24,32}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Small HP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,0}</string>
     <key>spriteSize</key>
     <string>{28,47}</string>
     <key>spriteSourceSize</key>
     <string>{28,48}</string>
     <key>textureRect</key>
     <string>{{444,346},{28,47}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
    <key>item_icon/Small MP potion</key>
    <dict>
     <key>aliases</key>
     <array/>
     <key>spriteOffset</key>
     <string>{0,0}</string>
     <key>spriteSize</key>
     <string>{28,47}</string>
     <key>spriteSourceSize</key>
     <string>{28,48}</string>
     <key>textureRect</key>
     <string>{{444,395},{28,47}}</string>
     <key>textureRotated</key>
     <false/>
    </dict>
   <key>item_icon/charm1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{60,46}</string>
    <key>spriteSourceSize</key>
    <string>{60,56}</string>
    <key>textureRect</key>
    <string>{{116,256},{60,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/charm10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{60,46}</string>
    <key>spriteSourceSize</key>
    <string>{60,56}</string>
    <key>textureRect</key>
    <string>{{258,114},{60,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/charm20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{60,46}</string>
    <key>spriteSourceSize</key>
    <string>{60,56}</string>
    <key>textureRect</key>
    <string>{{258,162},{60,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/charm30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-6}</string>
    <key>spriteSize</key>
    <string>{62,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,60}</string>
    <key>textureRect</key>
    <string>{{258,66},{62,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/charm40</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,132},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/charm50</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{54,57}</string>
    <key>spriteSourceSize</key>
    <string>{56,64}</string>
    <key>textureRect</key>
    <string>{{188,188},{54,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Duffel shirt</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,45}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{320,163},{56,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Leather jacket</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{258,210},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silver shirt</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,56}</string>
    <key>spriteSourceSize</key>
    <string>{60,56}</string>
    <key>textureRect</key>
    <string>{{196,66},{60,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Gold shirt</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,56}</string>
    <key>spriteSourceSize</key>
    <string>{60,56}</string>
    <key>textureRect</key>
    <string>{{58,198},{60,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix shirt</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{62,59}</string>
    <key>spriteSourceSize</key>
    <string>{64,60}</string>
    <key>textureRect</key>
    <string>{{132,66},{62,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon shirt</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{66,0},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silver shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,43}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{222,361},{44,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Osun shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,51}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{0,322},{52,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Badass shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{318,0},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Gold shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{60,58}</string>
    <key>spriteSourceSize</key>
    <string>{60,60}</string>
    <key>textureRect</key>
    <string>{{198,0},{60,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{132,0},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{66,66},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Marble gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,28}</string>
    <key>spriteSourceSize</key>
    <string>{44,28}</string>
    <key>textureRect</key>
    <string>{{116,407},{44,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Ivory gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{42,35}</string>
    <key>spriteSourceSize</key>
    <string>{44,36}</string>
    <key>textureRect</key>
    <string>{{400,393},{42,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Amber gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,41}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{400,350},{40,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Secret gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,47}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{380,115},{48,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{56,56}</string>
    <key>textureRect</key>
    <string>{{260,0},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon gem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,62}</string>
    <key>spriteSourceSize</key>
    <string>{54,62}</string>
    <key>textureRect</key>
    <string>{{132,188},{54,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silk gloves</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{54,48}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{116,304},{54,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Leather gloves</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{56,46}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{322,66},{56,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silver gloves</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{50,44}</string>
    <key>spriteSourceSize</key>
    <string>{52,44}</string>
    <key>textureRect</key>
    <string>{{316,259},{50,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Gold gloves</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,47}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{172,361},{48,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix gloves</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,47}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{316,210},{48,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon gloves</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{54,47}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{320,114},{54,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silver necklace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{28,37}</string>
    <key>spriteSourceSize</key>
    <string>{28,48}</string>
    <key>textureRect</key>
    <string>{{412,210},{28,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Emerald necklace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,45}</string>
    <key>spriteSourceSize</key>
    <string>{40,56}</string>
    <key>textureRect</key>
    <string>{{316,361},{38,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Jade necklace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{46,55}</string>
    <key>spriteSourceSize</key>
    <string>{48,56}</string>
    <key>textureRect</key>
    <string>{{172,304},{46,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Gold necklace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{32,47}</string>
    <key>spriteSourceSize</key>
    <string>{32,52}</string>
    <key>textureRect</key>
    <string>{{220,304},{32,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix necklace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,60}</string>
    <key>spriteSourceSize</key>
    <string>{52,60}</string>
    <key>textureRect</key>
    <string>{{0,260},{52,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon necklace</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,66},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Duffel pants</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,40}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{356,392},{42,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Leather pants</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{42,40}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{356,350},{42,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silver pants</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{46,38}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{368,259},{46,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Gold pants</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{46,38}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{356,310},{46,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix pants</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{46,40}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{268,361},{46,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon pants</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,44}</string>
    <key>spriteSourceSize</key>
    <string>{56,44}</string>
    <key>textureRect</key>
    <string>{{372,0},{56,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/ring1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,52}</string>
    <key>textureRect</key>
    <string>{{366,210},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/ring10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{258,310},{46,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/ring20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{258,258},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/ring30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,47}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{380,66},{48,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/ring40</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,55}</string>
    <key>spriteSourceSize</key>
    <string>{56,56}</string>
    <key>textureRect</key>
    <string>{{58,256},{56,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/ring50</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{116,354},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silk shoes</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{48,39}</string>
    <key>spriteSourceSize</key>
    <string>{52,40}</string>
    <key>textureRect</key>
    <string>{{306,310},{48,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Leather shoes</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,42}</string>
    <key>spriteSourceSize</key>
    <string>{52,44}</string>
    <key>textureRect</key>
    <string>{{380,164},{50,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silver shoes</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{52,48}</string>
    <key>textureRect</key>
    <string>{{0,375},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Gold shoes</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{44,36}</string>
    <key>spriteSourceSize</key>
    <string>{52,40}</string>
    <key>textureRect</key>
    <string>{{268,403},{44,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix shoes</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,48}</string>
    <key>spriteSourceSize</key>
    <string>{56,48}</string>
    <key>textureRect</key>
    <string>{{58,313},{56,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon shoes</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{56,58}</string>
    <key>spriteSourceSize</key>
    <string>{56,60}</string>
    <key>textureRect</key>
    <string>{{194,127},{56,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/White crane sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,56}</string>
    <key>textureRect</key>
    <string>{{188,247},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Heavy thunder sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{56,60}</string>
    <key>spriteSourceSize</key>
    <string>{60,60}</string>
    <key>textureRect</key>
    <string>{{0,198},{56,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Silver sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{66,132},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Gold sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{60,60}</string>
    <key>textureRect</key>
    <string>{{58,363},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Phoenix sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,59}</string>
    <key>spriteSourceSize</key>
    <string>{60,60}</string>
    <key>textureRect</key>
    <string>{{132,127},{60,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>item_icon/Dragon sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{444,441}</string>
   <key>textureFileName</key>
   <string>item_icon.png</string>
  </dict>
 </dict>
</plist>
